= nav_link(controller: :usage_quotas) do
  = link_to profile_usage_quotas_path do
    .nav-icon-container
      = sprite_icon('quota')
    %span.nav-item-name
      = s_('UsageQuota|Usage Quotas')
  %ul.sidebar-sub-level-items.is-fly-out-only
    = nav_link(controller: :usage_quotas, html_options: { class: "fly-out-top-item" } ) do
      = link_to profile_usage_quotas_path do
        %strong.fly-out-top-item-name
          = s_('UsageQuota|Usage Quotas')
