- page_title _('Request details')
%h1.page-title.gl-font-size-h-display
  = _("Request details")

%hr

- if @hook_log.oversize?
  - tooltip = _("Request data is too large")
  = render Pajamas::ButtonComponent.new(disabled: true, button_options: { class: 'float-right gl-ml-3 has-tooltip', title: tooltip }) do
    = _("Resend Request")
- else
  = render Pajamas::ButtonComponent.new(href: retry_admin_hook_hook_log_path(@hook, @hook_log), method: :post, button_options: { class: 'float-right gl-ml-3' }) do
    = _("Resend Request")

= render partial: 'shared/hook_logs/content', locals: { hook_log: @hook_log }
